node_modules/
client/node_modules/
config/production.json
client/debug.log
package-lock.json
client/src/social-config/
client/package-lock.json
client/src/social-config/firebaseConfig.js
config/default.json